*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: #2e56b3;
  color: white;
  border: none;
  padding: 0.8rem, 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  font-family: "Poppins";
  text-decoration: none;
}

.btn-danger {
  background-color: #ff4d4d;
  color: white;
  border: none;
}